/* Styles go here */

body {
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.nav-address {
  margin-right: 10px;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
