/* Styles go here */

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.nav-address {
  margin-right: 10px;
  color: white;
}

.container {
}
